<div id="body">
  <div id="mobile">
    <h1>Where do I download this?</h1>
    <p>At RabbitQR, we are extremely concerned about security. 
    As such, we will never launch until we are absolutely certain that our customers are secure.
    We are taking steps to implement SSL secure connections and encrypting all data processed throughout our network;
    </p>

    <p>Email kiran@rabbitqr.com for any further inquiries.
    </p>
  </div>
</div>
