    <div id="body">
    <div id="mobile">
      <h1>Receive and Send Money Anywhere, Anytime.</h1>
      <iframe title="YouTube video player" width="640" height="390" src="http://www.youtube.com/embed/W86bPD3CbdU" frameborder="0" allowfullscreen></iframe>
    </div>
        <div id="mobile">
            <h1>How it Works.</h1>
            <div class="step">
              <div id="one"> 
                1. Take a picture of the merchant's QR code.
             </div>
              <img src="/images/1.png"/>
            </div>
            <div class="step">
              <div id="one"> 
                2. Enter the amount to pay.
              </div>
              <img src="/images/2.png"/>
            </div>
            <div class="step">
              <div id="one"> 
                3. Get instant confirmation via text
              </div>
              <img src="/images/3.png"/>
            </div>
          </div>
          <div id="web">
            <h1>Monitor your transactions on the web.</h1>
            <img src="/images/web.png"/>
          </div>
        </div>
    </div>
