<html>
<head runat="server">
    <title>RabbitQR | Simple mobile payments</title>
    <link rel="icon" href="/static/img/rabbitqr.ico" type="image/x-icon"/>
</head>

<body>
	<div id="header">
		<a href="/" id="logo"></a>
		<div id="nav">
			<ul>
				<li><a href="tumblr.com">Blog</a></li>
				<li><a href="/learn/">Learn More</a></li>
				<li><a href="/team">Team</a></li>
				<li><%= link_to "Login", login_form_path %></li>
			</ul>
		</div>
	</div>
    <div id="body">
        <div id="rx-image-div"></div>
        <div id="one" class="step">
            1. Recipient displays their QR code
        </div>
        <div id="two" class="step">
            2. Payer uses RabbitQR app to capture QR code
        </div>
        <div id="three" class="step">
            3. Payer enters amount to pay, and presses "Pay".
        </div>
    </div>
    
    <div id="footer">
        A <a href="http://startupbus.com">StartupBus 2011</a> creation.
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://blog.rabbitqr.com">Blog</a>
    </div>
    	
</body>

</html>
