<html>
<head runat="server">
    <title>qrpay | simple mobile payments</title>
    <link rel="icon" href="/static/img/qrpay.ico" type="image/x-icon"/>
    
    <script type="text/javascript" src="jquery.js"></script>
    
    <!--- MixPanel JS API Improts -->
    <script type='text/javascript'> var mp_protocol = (('https:' == document.location.protocol) ? 'https://' : 'http://'); document.write(unescape('%3Cscript src="' + mp_protocol + 'api.mixpanel.com/site_media/js/api/mixpanel.js" type="text/javascript"%3E%3C/script%3E')); </script> <script type='text/javascript'> try {  var mpmetrics = new MixpanelLib('86d858bea89fcaa0f486366bbf4925ba'); } catch(err) { null_fn = function () {}; var mpmetrics = {  track: null_fn,  track_funnel: null_fn,  register: null_fn,  register_once: null_fn, register_funnel: null_fn }; } </script>
    <!--- End MixPanel JS API Improts -->
    
    <!--- QRPay JS/CSS Imports -->
    <script type="text/javascript" src="/static/js/qrpay.js"></script>
    <link href="index.css" rel="Stylesheet" type="text/css" />
    <!--- End QRPay JS/CSS Imports -->
</head>

<body>
    <div id="header">
        qrpay <span style="font-size: 24px">simple mobile payments</span>
    </div>
    
    <div id="body">
        <div id="rx-image-div">
            <img src="droid.jpg" width="100%"/>
        </div>
        
        <div id="one" class="step">
            1. Recipient displays their QR code
        </div>
        
        <div id="two" class="step">
            2. Payer uses qrpay app to capture QR code
        </div>
        
        <div id="three" class="step">
            3. Payer enters amount to pay, and presses "Pay".
        </div>
        
    </div>
    
    <div id="footer">
        A <a href="http://startupbus.com">StartupBus 2011</a> creation.
    </div>
</body>

</html>
