<div id="body">
  <div id="mobile">
    <h1>Founders</h1>
    <br /><p> The idea for RabbitQR was created by Peter Reinhardt and executed by Kiran Ryali</p><br />
    <p> Kiran Ryali did the back-end in Rails, the Android application in Java, 
    and the front-end in HTML & CSS.</p>
    <p>Email kiran@rabbitqr.com for any further inquiries.</p>
  </div>
</div>
