<div id="body">
  <div id="mobile">
    <h1>Founders</h1>
    <br />
    <p> RabbitQR was developed by <a href="http://kiranryali.com/blog">Kiran Ryali</a> based on an idea by Peter Reinhardt</p>
    <p> <a href="http://kiranryali.com/blog">Kiran Ryali</a> did the back-end in Rails, the Android application in Java, 
    and the front-end in HTML & CSS.</p>
    <p>Email kiran@rabbitqr.com for any further inquiries.</p>
  </div>
</div>
