

<div id="header">
	<a href="/" id="logo"></a>
	<div id="nav">
		<ul>
			<li><a href="/users/1">Dashboard</a></li>
			<li><%= link_to "New Card", new_payment_info_path %></li>
			<li><a href="/payemnt_infos/">Profile</a></li>
			<li><a href="/history">History</a></li>
			<li><%= link_to "Logout", logout_path %></li>
		</ul>
	</div>
</div>
<div id="content">
	
	Hey <%= @user.username %>, Welcome to RabbitQR! Here are your user options.
	<br />
	  <br />
	<br /><br />
	<div id="recent">
		<h2>Recent Payments</h2>
		<table class="left">
			<caption>Sent<caption>
			<tr><th>Name</th><th>Amount</th></tr>
			<tr>
				<td>Kiran</td>
				<td>10.1</td>
			</tr>
			<tr>
				<td>Kiran</td>
				<td>10.1</td>
			</tr>
		</table>
		<table class="left">
			<caption>Received<caption>
			<tr><th>Name</th><th>Amount</th></tr>
			<tr>
				<td>Kiran</td>
				<td>10.1</td>
			</tr>
			<tr>
				<td>Kiran</td>
				<td>10.1</td>
			</tr>
		</table>
	</div>
	
</div>