<h1> Sign up </h1>
<form accept-charset="UTF-8" action="/signup_p" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /></div> 
  Username: <input id="user_username" name="user[username]" size="30" type="text" /><br /> 
  Password: <input id="user_password" name="user[password]" size="30" type="password" /><br /> 
  Phone Number: <input id="user_phone" name="user[phone]" size="30" type="text" /><br /> 
  <input id="user_submit" name="commit" type="submit" value="Create User" /> 
</form> 

